name: Build 

on:
  push:
    branches: [ "main"]
  pull_request:
    branches: [ "main"]

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup MSVC
      uses: ilammy/msvc-dev-cmd@v1

    - name: Compile C++ Code
      run: |
        cl /MDd /EHsc /std:c++17 /I dependencies\include /I src CelShaiding\main.cpp /D GLEW_STATIC /link /LIBPATH:dependencies\lib glew32s.lib glfw3.lib assimp-vc143-mtd.lib opengl32.lib user32.lib gdi32.lib shell32.lib comdlg32.lib /NODEFAULTLIB:LIBCMT /NODEFAULTLIB:MSVCRT /OUT:MyApp.exe && copy /Y dependencies\lib\assimp-vc143-mtd.dll assimp-vc143-mtd.dll

    - name: Prepare Artifacts
      run: |
        mkdir Build_Release
        copy App.exe Build_Release\
        copy dependencies\lib\assimp-vc143-mt.dll Build_Release\
        xcopy /E /I shaders Build_Release\shaders

    - name: Upload Build
      uses: actions/upload-artifact@v4
      with:
        name: OpenGL-CelShading-App
        path: Build_Release/